PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
SECRET_KEY="screct key here"
DEBUG=1
DB_ENGINE="django.db.backends.sqlite3"
DB_NAME="db.sqlite3"
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS="localhost;0.0.0.0;127.0.0.1"