include LICENSE
include README.md
include CHANGELOG.md
recursive-include tests *.py
recursive-include docs

exclude urls.py
exclude wsgi.py
exclude settings.py
exclude manage.py
exclude docker*.yaml
exclude Dockerfile
exclude db.sqlite3